.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  position: relative;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height : 100vh;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.overlay {
  position: relative;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

/* Fix z-index stacking */
.employee-view {
  position: relative;
  z-index: 1;
}

.filter-container {
  position: relative;
  z-index: 100;
}

@media (min-width: 1024px) {
  .overlay {
    display: none;
  }
}
 